doctype!
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
		title Īpašumi.
		link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,700')
		link(rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="./assets/app.css")
	body(ng-cloak layout="column" ng-controller="AppController as app")
		md-nav-bar(md-selected-nav-item="app.currentNavItem")
			md-nav-item(md-nav-href="#visi" name="visi" ng-click="app.favFilter(0)") Visi īpašumi
			md-nav-item(md-nav-href="#atlasitie" name="atlasitie" ng-click="app.favFilter(1)") 
				i.fa.fa-star
				|  Mani atlasītie
			md-button.md-accent.md-raised(ng-click="app.parameters()") 
				i.fa.fa-filter
				|  Filtrs
		//- md-toolbar.menu(layout="row" )
		//- 	md-button._md-nav-button.md-active(md-nav-href="#page2" name="page3") Visi īpašumi
		//- 	md-button(md-nav-href="#page3" name="page3" ng-click="app.test()") Mani atlasītie
		//- 	md-button.md-accent.md-raised(ng-click="app.parameters()") Filtrs
			//- md-button.md-raised(ng-click="app.parameters()") Filtrs
		//- md-toolbar.menu(layout="row" class="md-toolbar-tools")
		//- 	h1 Īpašumi
		//- 	md-button.md-raised(ng-click="app.parameters()") Filtrs
		div.progress-bar
			md-progress-linear(md-mode="indeterminate" ng-show="app.isLoading")
		
		div(flex layout="row")
			property-list.property-list-full(toogle-fav="app.toggleFav($item)" items="app.items" load-more="app.loadMore()" show-map="app.showMap($item)")
			
			md-sidenav.filter-params.md-whiteframe-4dp( md-component-id="parameters" layout="column" layout-padding)
				h4 Cena
				md-input-container.compact
					label Cena no {{app.searchParams.price[0]}} Eur
					md-slider(aria-label="Cena no" ng-model="app.searchParams.price[0]" min="0" max="200000" step="1000" )
				md-input-container.compact
					label Cena līdz {{app.searchParams.price[1]}} Eur
					md-slider(aria-label="Cena līdz" ng-model="app.searchParams.price[1]" min="{{app.searchParams.price[0]}}" max="200000" step="1000")
				//- md-input-container
				//- 	label Attālums no:
				//- 	md-select(ng-model="app.searchParams.position" placeholder="Izvēlies vietu")
				//- 		md-option(ng-value="item" ng-repeat="(key, item) in app.positions") {{key}}
				h4 Attālums no Rīgas centra
				md-input-container.compact
					label Ne vairāk kā {{app.searchParams.distance[1]}} km
					md-slider(aria-label="Attālums līdz" ng-model="app.searchParams.distance[1]" min="0" max="200" step="5")
				md-input-container.compact
					label Ne ilgāk kā {{app.searchParams.duration[1]/60 }} min
					md-slider(aria-label="Ilgums līdz" ng-model="app.searchParams.duration[1]" min="0" max="{{5*3600}}" step="60")
				
				h4 Īpašuma platība
				md-input-container.compact
					label No {{app.searchParams.m2[0]}} m2
					md-slider(aria-label="Platība no" ng-model="app.searchParams.m2[0]" min="0" max="1000" step="10" )
				md-input-container.compact
					label Līdz {{app.searchParams.m2[1]}} m2
					md-slider(aria-label="Platība līdz" ng-model="app.searchParams.m2[1]" min="{{app.searchParams.m2[0]}}" max="1000" step="10")

				h4 Īpašumu veidi
				md-input-container
					md-checkbox(ng-model="app.searchParams.categories[0]" ng-true-value="'homes-summer-residences'") Mājas
					md-checkbox(ng-model="app.searchParams.categories[1]" ng-true-value="'flats'") Dzīvokļi
					md-checkbox(ng-model="app.searchParams.categories[2]" ng-true-value="'plots-and-lands'") Zeme
					md-checkbox(ng-model="app.searchParams.categories[3]" ng-true-value="'farms-estates'") Lauku sētas
				md-button.md-accent.md-raised(ng-click="app.applyParams()" ng-disabled="app.isLoading") Atlasīt
				
     
		map-overlay(item="app.currentItem" visible="app.mapIsVisible" is-loading="app.isLoading")
				
		script(type="text/javascript" src="//localhost:35456/livereload.js?snipver=1")
		script(src="./jspm_packages/system.js" type="text/javascript")
		script(src="config.js" type="text/javascript")
		script.
			 System
			.import('src/boot/boot').catch( console.error.bind(console) ); 

