div.map-overlay()
	.inner(ng-show="$ctrl.visible")
		md-card
			md-card-actions(layout="row" layout-align="end center")
				h2.title {{$ctrl.item.place}}
				md-button.md-primary.md-raised(ng-click="$ctrl.close()") Close
			//- md-card-header
			//- 	span.md-card-header-text {{ [$ctrl.lat, $ctrl.lon].join(',')}}

			md-card-content
				
				//- iframe(frameborder="0" src="{{$ctrl.mapUrl}}" allowfullscreen)
				iframe(iframe-onload="$ctrl.contentReady()" ng-class=" [$ctrl.mapLoaded ? 'loaded':'' ]" frameborder=0 src="{{ $ctrl.sce.trustAsResourceUrl('https://www.google.com/maps/embed/v1/place?key=AIzaSyDoT_apjPu1sWghNtiC01blVOyeUXATaHc&zoom=10&q='+ $ctrl.item.lat+','+$ctrl.item.lon )}}  ")
			